{% extends "base.html.twig" %}
{% block body %}
    <div class="arrierePlan left">
        <img alt="Logo Drop Sheep" src="{{ asset('assets/DropSheepIcon(200px).png') }}"/>
    </div>
    <table class="premierPlan">
        {{ products | raw }}
    </table>
    <div class="arrierePlan right">
        <button>Account</button>
        <table>
            <tr>
                <td class="nbAchats">5</td><td><img alt="Logo Panier" src="{{ asset('assets/panier.png') }}"/></td>
            </tr>
        </table>
    </div>

{% endblock %}